@model WebApplication.Models.Project

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Project</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Creator)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Creator)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.StudentOne)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StudentOne)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.StudentTwo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StudentTwo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.StudentThree)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StudentThree)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ProjectApproved)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ProjectApproved)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ProjectID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
